<h1><%= @cocktail.name %></h1>
<%# for each? %>
<p>Ingredients:
<%# <p><%= @cocktail.ingredient %></p> %>
<%# <p><%= @cocktail.dose %></p> %>
<br>
<p><%= link_to 'Back to list of cocktails', cocktails_path %></p>